/* @import url ('________') */

/* font link goes there */



.page-wrapper {
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
}

/* .content-section p {
  font-size: 14px;
  color: #241c15;
} */


.content-section img {
  margin: 40px;
  width: 120px;
  height: 100px;
}

#deskimg {
  display: block;
}

#phoneimg {
  display: none;
}

.content-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
}


.content-section h3 {
  font-size: 34px;
  word-spacing: -0.2rem;
  line-height: 1.1;
  color: #241c15;
  margin: 0;
  /* font-family:  https://fonts.googleapis.com/css?family=Merriweather NEED TO DO THIS */
}


/* inside of the form */
.form-wrapper {
  width:75%;
  margin: 10px;
  /* background: blue; */
  display: flex;
  flex-direction: column;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-radius: 10px;

}

.form-wrapper input {
  height: 30px;
  border-radius: 2px;
}

.form-wrapper p {
  width: 75%;
}



.content-pass {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#passbutton {
  margin: 5px;
  padding: 0;
}

.content-pass1 {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.content-pass2 {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  /* background: green; */
  align-items: center;
}

.content-pass2 p {
  margin: 0;
  padding: 0;
}

.content-bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  /* background: red; */
}

.content-bottom p {
  margin-top: 0px;
  margin-left: 35px;
  color: rgba(36,28,21,0.5);
  font-size: 11px;

}




#submitbutton {
  width: 35%;
  font-size: 14px;
  font-weight: bold;
  color: rgba(36,28,21,0.5);
  border:1px solid rgba(36,28,21,0.5);
}

/* need to work when all field are good */
#submitbutton:hover{
  background: #007c89;
  color: white;
}

/* finish form */



.footer {
  width: 100%;
  color: rgba(36,28,21,0.5);
  font-size: 11px;
}




/* media */


@media only screen and (max-width: 600px) {
  .content-section {
    flex-direction: column;
  }
  #deskimg {
    display: none;
  }

  #phoneimg {
    display: block;
  }
  .form-wrapper form {
    width: 100%;
  }
  .form-wrapper p {
    width: 100%;
  }
}
